@tailwind base;
@tailwind components;
@tailwind utilities;

$clr-primary: #f5f5f5;
$clr-secondary: #020203;
$clr-bg-footer: #0f0f0f;
$clr-accent: #f49c39;
$clr-accent-2: #fed871;
$clr-warning: #ff4848;
$ff-base: "Poppins", serif;
$ff-accent: "Kanit", serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: $ff-base;
  color: $clr-primary;
  background-color: $clr-secondary;

  @media (min-width: 640px) {
    font-size: 16px;
  }
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-hl-accent-2 {
  color: $clr-accent-2;
}

.glow-text-white {
  text-shadow: 0 0 8px $clr-primary;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 8px $clr-primary;
  }
  to {
    text-shadow: 0 0 2px $clr-primary;
  }
}

.glow-text-accent {
  text-shadow: 0 0 8px $clr-accent-2;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 8px $clr-accent-2;
  }
  to {
    text-shadow: 0 0 2px $clr-accent-2;
  }
}

.btn-play {
  font-weight: bold;
  position: relative;

  &::after,
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    border-radius: 100%;
    opacity: 0.8;
    background-color: #ed882a;
    z-index: -1;
  }

  &:before {
    animation: pulse 2s ease-out infinite;
    transform-origin: center;
  }
  &:after {
    animation: pulse 2s 1s ease-out infinite;
    transform-origin: center;
  }

  @keyframes pulse {
    100% {
      transform: scale(1.7);
      opacity: 0;
    }
  }
}

main {
  overflow: hidden;
  z-index: -1;

  .hero {
    height: 100vh;
    position: relative;
    overflow: hidden;

    @media (min-width: 768px) {
      background-image: url("../image/hero-background.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .bgl,
    .bgr {
      width: 115vmax;
      position: absolute;
      bottom: 0;
      z-index: 50;

      @media (min-width: 768px) {
        width: 90vmax;
      }

      @media (min-width: 1280px) {
        width: 50rem;
      }
    }

    .bgl {
      left: 0;
      display: none;

      @media (min-width: 768px) {
        display: block;
        left: -60%;
        transform: rotateY(180deg);
      }

      @media (min-width: 1024px) {
        left: -55%;
      }

      @media (min-width: 1280px) {
        left: -25%;
      }
    }

    .bgr {
      right: -35rem;

      @media (min-width: 768px) {
        right: -60%;
      }

      @media (min-width: 1024px) {
        right: -55%;
      }

      @media (min-width: 1280px) {
        right: -25%;
      }
    }

    &-container {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .hero-content {
        margin-top: -2rem;
        z-index: 100;

        @media (min-width: 1024px) {
          transform: scale(1);
        }

        .text {
          font-size: 1.5rem;
          line-height: 2rem;
          font-weight: bold;
        }
      }
    }
  }

  .feature {
    background-image: url("../image/pregis-background.png");
    background-size: cover;
    background-position: center bottom;
    overflow: hidden;

    &-container {
      .header {
        .title {
          font-size: 2rem;
          font-family: $ff-accent;
          font-weight: bold;
          line-height: 2.5rem;

          @media (min-width: 768px) {
            font-size: 3rem;
            line-height: 3.5rem;
          }

          @media (min-width: 1024px) {
            font-size: 4rem;
            line-height: 4.5rem;
          }
        }

        .sub-title {
          @media (min-width: 1024px) {
            font-size: 1.2rem;
            line-height: 3.5rem;
          }
        }
      }

      .feature-item {
        position: relative;

        @media (min-width: 1024px) {
          width: 20rem;
          padding-block: 1rem 2rem;
        }

        @media (min-width: 1280px) {
          width: 25rem;
          padding-block: 1rem 2rem;
        }

        &-img {
          width: 45rem;

          @media (min-width: 640px) {
            width: 55rem;
          }

          @media (min-width: 768px) {
            width: 65rem;
          }

          @media (min-width: 1024px) {
            width: 15rem;
          }

          @media (min-width: 1280px) {
            width: 20rem;
          }

          &.a {
            margin-left: -30%;

            @media (min-width: 640px) {
              margin-left: -15%;
            }

            @media (min-width: 768px) {
              margin-left: 0;
            }
          }

          &.b {
            margin-right: -30%;

            @media (min-width: 640px) {
              margin-right: -15%;
            }

            @media (min-width: 1024px) {
              margin-right: 0;
            }
          }
        }

        &-text {
          font-size: 1.125rem;

          @media (min-width: 640px) {
            font-size: 1.5rem;
          }

          @media (min-width: 1024px) {
            font-size: 1.3rem;
          }
        }

        @media (min-width: 1024px) {
          &::before {
            content: "";
            width: 100%;
            height: 6px;
            border-radius: 1rem;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: #f49c39;
          }
        }
      }

      .reminder {
        .title {
          font-size: 1.8rem;
          font-weight: bold;

          @media (min-width: 1024px) {
            font-size: 2rem;
          }
        }

        .sub-title {
          font-size: 1.1rem;
        }
      }
    }
  }

  .about {
    position: relative;
    background-image: url("../image/au-background.png");
    background-size: cover;
    background-position: center bottom;

    & > div {
      background-image: linear-gradient(
        180deg,
        $clr-secondary,
        transparent,
        transparent,
        transparent
      );
    }

    .about-container {
      .header {
        .title {
          font-size: 2rem;
          font-family: $ff-accent;
          font-weight: bold;

          @media (min-width: 1024px) {
            font-size: 3rem;
          }
        }
      }

      p {
        font-size: 1.1rem;
      }

      .image {
        margin-inline: auto;

        @media (min-width: 640px) {
          width: 25rem;
        }
      }
    }
  }

  .category {
    padding-block: 5rem;
    position: relative;
    overflow: hidden;

    @media (min-width: 1024px) {
      background-image: url("../image/catg-background.png");
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &::before {
      content: "";
      width: 100%;
      height: 70%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(180deg, $clr-secondary, transparent);
      z-index: 1;
    }

    &::after {
      content: "";
      width: 100%;
      height: 70%;
      position: absolute;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(0deg, $clr-secondary, transparent);
      z-index: 1;
    }

    .bg-line {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media (min-width: 1024px) {
        display: block;
      }

      img {
        width: 80%;
        z-index: -1;
      }
    }

    &-container {
      .category-items {
        .category-item {
          width: 100%;
          max-width: 40rem;
          position: relative;
          z-index: 2;

          @media (min-width: 1280px) {
            transform: scale(0.87);
          }

          .header {
            .title {
              font-size: 2rem;
              font-weight: bold;
              color: $clr-accent-2;

              @media (min-width: 1024px) {
                font-size: 3rem;
                line-height: 3.5rem;
              }
            }

            .sub-title {
              @media (min-width: 1024px) {
                font-size: 1.2rem;
              }
            }
          }

          .image {
            width: 25rem;
            height: 25rem;

            .btn-text {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 0.75rem;
              margin-top: -8rem;
            }

            .image-wrapper {
              width: 25rem;
              height: 25rem;
              position: relative;

              @media (min-width: 1024px) {
                width: 20rem;
                height: 20rem;
              }

              @media (min-width: 1280px) {
                width: 25rem;
                height: 25rem;
              }

              &::before {
                content: "";
                width: 37rem;
                height: 37rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                z-index: -1;
                opacity: 0.125;

                @media (min-width: 1024px) {
                  width: 30rem;
                  height: 30rem;
                }

                @media (min-width: 1280px) {
                  width: 38rem;
                  height: 38rem;
                }
              }

              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
          }
        }
      }

      .group-a {
        .category-item {
          .image {
            display: grid;
            grid-template-columns: 10rem 1fr;

            @media (min-width: 1024px) {
              grid-template-columns: 1fr 10rem;
            }

            .image-wrapper {
              &::before {
                content: "";
                background-image: url("../image/catg-poker-games.png");
              }
            }
          }
        }
      }

      .group-b {
        .category-item:nth-child(1) {
          .image {
            display: grid;
            grid-template-columns: 1fr 10rem;

            .image-wrapper {
              &::before {
                content: "";
                background-image: url("../image/catg-slot-games.png");
              }
            }
          }
        }

        .category-item:nth-child(2) {
          .image {
            display: grid;
            grid-template-columns: 10rem 1fr;

            .image-wrapper {
              &::before {
                content: "";
                background-image: url("../image/catg-wheel-of-fortune.png");
              }
            }
          }
        }
      }
    }
  }
}

.footer {
  background-color: $clr-bg-footer;
  box-shadow: inset 0 7px #8f4c0e, inset 0 14px #ed882a;

  &-container {
    .footer-line {
      width: 100%;
      height: 2px;
      display: block;
      background-image: linear-gradient(
        90deg,
        transparent,
        $clr-primary,
        transparent
      );
    }
  }
}

.preview {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(2, 2, 3, 0.8);
  z-index: 1000;
  display: none;

  &.active {
    display: flex;
  }

  .preview-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

    iframe {
      width: 100%;
      height: 30rem;
      border: 2px solid $clr-accent;
      border-radius: 0.5rem;
      overflow: hidden;
      background-color: #121212;

      @media (min-width: 1024px) {
        width: 60rem;
      }
    }
  }
}

.pregis {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(2, 2, 3, 0.8);
  z-index: 1000;
  overflow-y: scroll;
  display: none;

  &.active {
    display: flex;
  }

  .pregis-container {
    width: 30rem;
    height: fit-content;
    display: grid;
    position: relative;
    border: 3px solid $clr-accent;
    border-radius: 0.5rem;
    background-image: url("../image/pregis-background-pattern.png");
    background-size: cover;

    @media (min-width: 1024px) {
      width: calc(100vw - 5rem);
      display: flex;
      justify-content: flex-end;
    }

    @media (min-width: 1280px) {
      width: 70rem;
    }

    .header {
      .title {
        font-size: 1.8rem;
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    .image-wrapper {
      .header {
        display: none;

        @media (min-width: 1280px) {
          display: block;

          .title {
            font-size: 2.8rem;
          }

          .sub-title {
            font-size: 0.9rem;
            margin-top: -0.5rem;
          }
        }
      }

      .image {
        display: none;
        position: absolute;
        left: 0;
        bottom: 0;

        @media (min-width: 1024px) {
          display: block;
        }

        @media (min-width: 1280px) {
          position: unset;

          display: flex;
          align-items: flex-end;
        }
      }
    }

    .form-wrapper {
      @media (min-width: 1024px) {
        width: 50%;
        position: relative;
        border-radius: 0.5rem;
        background-color: rgba(10, 10, 10, 0.9);

        @media (min-width: 1280px) {
          background-color: transparent;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .header {
        @media (min-width: 1280px) {
          display: none;
        }
      }

      .form {
        .form-field {
          .form-field-label {
            font-size: 0.9rem;
            font-weight: bold;
            display: block;
          }

          .form-field-input {
            width: 100%;
            padding: 0.8rem;
            border: 3px solid $clr-accent;
            border-radius: 0.5rem;
            background-color: rgba(15, 15, 15, 0.8);
          }

          .form-field-check {
            width: 1rem;
            height: 1rem;
            border-radius: 0.1rem;
          }

          .form-field-check + .form-field-label {
            font-size: 0.75rem;
            font-weight: normal;
          }
        }

        .btn-regis {
          width: 12rem;

          img {
            width: 100%;
          }
        }
      }
    }

    .btn-play {
      position: absolute;
      bottom: -16%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;

      @media (min-width: 1024px) {
        left: unset;
        right: -5%;
        bottom: unset;
        top: -5%;
        transform: unset;
      }

      @media (min-width: 1280px) {
        right: -3%;
        top: -4%;
      }

      img {
        width: 4rem;

        @media (min-width: 1024px) {
          width: unset;
        }
      }
    }
  }
}

.modal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(2, 2, 3, 0.8);
  z-index: 2000;
  display: none;

  &.active {
    display: flex;
  }

  .card {
    width: 25rem;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid $clr-accent;
    border-radius: 0.5rem;
    color: $clr-secondary;
    background-color: $clr-primary;
    overflow: hidden;

    .icon {
      width: 4rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      background-color: #ff4848;

      &.error {
        background-color: #ff4848;
      }

      &.success {
        background-color: #51ff48;
      }

      img {
        width: 2rem;
        object-fit: contain;
        filter: invert(100);
      }
    }

    .body {
      padding: 1rem;

      .title {
        font-size: 1.7rem;
        font-weight: bold;
        line-height: 2rem;
      }

      .content {
        font-size: 0.8rem;
      }
    }

    .btn {
      font-weight: bold;
      padding: 0.5rem 2rem;
      border-radius: 0.5rem;
      color: $clr-primary;
      background-color: $clr-accent;
    }
  }
}
