@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-accent: #26a4ff;
  --clr-accent-2: #2a49f9;
  --clr-light: rgb(255, 255, 255);
  --ff-accent: "Kanit", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.text-highlight {
  color: var(--clr-accent);
}

.btn {
  font-weight: 700;
  padding: 0.7rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 1rem;
  border: 4px solid var(--clr-light);
  color: var(--clr-light);
  background-image: linear-gradient(
    0deg,
    var(--clr-accent-2),
    var(--clr-accent)
  );
}

.btn-round {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3.5rem;
  border: 4px solid var(--clr-light);
  background-color: var(--clr-accent);
}

body {
  display: grid;
  font-family: "Poppins", serif;
}

.main {
  color: var(--clr-light);
}
.main .title {
  font-size: 2rem;
  font-family: var(--ff-accent);
  font-weight: 700;
  text-shadow: 0 0 8px var(--clr-light);
  margin-top: -0.5rem;
  animation: glow 1s ease-in-out infinite alternate;
}
.main .hero {
  position: relative;
  background-image: url("./img/assets/bg.png");
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  place-items: center;
}
.main .hero .hero-container .hero-r .logo {
  width: 80vw;
  margin-inline: auto;
}
@media (min-width: 640px) {
  .main .hero .hero-container .hero-r .logo {
    width: 40vw;
  }
}
@media (min-width: 1024px) {
  .main .hero .hero-container .hero-r .logo {
    width: 20vw;
  }
}
@media (min-width: 640px) {
  .main .hero .hero-container .hero-r .title {
    font-size: 3rem;
  }
}
.main .hero .hero-container .hero-r .btn-reg {
  width: 80vw;
}
@media (min-width: 640px) {
  .main .hero .hero-container .hero-r .btn-reg {
    width: 40vw;
  }
}
@media (min-width: 1024px) {
  .main .hero .hero-container .hero-r .btn-reg {
    width: 20vw;
  }
}
.main .hero .hero-container .scroll-down {
  font-size: 14px;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
}
.main .pregis-event {
  padding-block: 4rem;
  background-color: #0d1212;
}
@media (min-width: 640px) {
  .main .pregis-event-container .header {
    text-align: center;
  }
}
.main .pregis-event-container .header .title {
  font-size: 2.7rem;
  text-transform: capitalize;
  line-height: 2.5rem;
}
.main .pregis-event-container .chart-item-image {
  width: 12rem;
  height: 12rem;
}
@media (min-width: 1024px) {
  .main .pregis-event-container .chart-item-image {
    width: 7rem;
    height: 7rem;
  }
}
.main .pregis-event-container .chart .chart-separator {
  width: 100%;
  height: 1px;
  background-image: linear-gradient(90deg, transparent, #ffffff, transparent);
  display: block;
}
@media (min-width: 1024px) {
  .main .pregis-event-container .chart .chart-separator {
    display: none;
  }
}
.main .pregis-event-container .btn-reg {
  width: 70vw;
}
@media (min-width: 640px) {
  .main .pregis-event-container .btn-reg {
    width: 40vw;
    margin-inline: auto;
    display: block;
  }
}
@media (min-width: 1024px) {
  .main .pregis-event-container .btn-reg {
    width: 20vw;
  }
}
.main .about {
  height: 180vmin;
  background-image: url("./img/assets/casgirl.png");
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  place-items: center;
}
@media (min-width: 480px) {
  .main .about {
    height: 80vh;
  }
}
@media (min-width: 640px) {
  .main .about {
    height: 70vh;
  }
}
.main .about-container {
  height: inherit;
  background-color: rgba(1, 13, 21, 0.8745098039);
  padding: 4rem 1rem;
}
@media (min-width: 640px) {
  .main .about-container {
    text-align: center;
  }
}
.main .about-container .title {
  font-size: 3rem;
}
.main .about-container-div p {
  line-height: 2rem;
}
.main .about-container-div .image {
  margin-bottom: -5rem;
  margin-inline: auto;
}
@media (min-width: 640px) {
  .main .about-container-div .image {
    width: 80vw;
  }
}
@media (min-width: 1024px) {
  .main .about-container-div .image {
    width: 60vw;
  }
}
@media (min-width: 1280px) {
  .main .about-container-div .image {
    width: 40rem;
    margin-top: -8rem;
  }
}
.main .rec {
  background-image: linear-gradient(180deg, #494949, #0d1212, #0d1212);
}
.main .rec-container {
  padding-top: 15rem;
}
@media (min-width: 640px) {
  .main .rec-container {
    padding-top: 25rem;
  }
}
@media (min-width: 1024px) {
  .main .rec-container {
    padding-top: 15rem;
  }
}
.main .rec-container .title {
  font-size: 2.7rem;
  text-transform: capitalize;
  line-height: 2.5rem;
}
.main .rec-container .catg-item {
  text-align: center;
}
.main .rec-container .catg-item .catg-item-title {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  font-family: var(--ff-accent);
}

.footer {
  color: #ffffff;
  background-color: #0d1212;
}
.footer-container-separator {
  width: 100%;
  height: 1px;
  display: block;
  background-color: rgba(255, 255, 255, 0.2705882353);
}

video {
  width: 100%;
  height: 100%;
}

.text-highlight {
  text-shadow: 0 0 8px var(--clr-accent);
  animation: glow-accent 1s ease-in-out infinite alternate;
}

@keyframes glow-accent {
  from {
    text-shadow: 0 0 8px var(--clr-accent);
  }
  to {
    text-shadow: 0 0 2px var(--clr-accent);
  }
}
@keyframes glow {
  from {
    text-shadow: 0 0 8px var(--clr-light);
  }
  to {
    text-shadow: 0 0 2px var(--clr-light);
  }
}
.btn-group .btn {
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
}

.ads-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6274509804);
  z-index: 1000;
}
.ads-wrapper .ads {
  position: relative;
}
.ads-wrapper .ads .close-ads-btn {
  z-index: 1500;
  margin-inline: auto -2rem;
  margin-bottom: 1rem;
  display: block;
}
@media (min-width: 768px) {
  .ads-wrapper .ads .close-ads-btn {
    margin-inline: auto -3rem;
  }
}

.live-video-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5137254902);
  z-index: 1000;
}
.live-video-wrapper.active {
  display: flex;
}
.live-video-wrapper .live-video {
  height: 30rem;
  background-color: rgb(58, 57, 57);
}

.form-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5137254902);
  z-index: 1000;
}
.form-wrapper.active {
  display: flex;
}
.form-wrapper .form-container {
  padding: 2rem 1rem;
  background: rgba(21, 21, 21, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.368627451);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 10px;
  border: 2px solid var(--clr-accent);
}
@media screen and (min-width: 768px) {
  .form-wrapper .form-container {
    padding: 2rem;
  }
}
.form-wrapper .form-container .image {
  width: 100%;
  height: 100%;
}
.form-wrapper .form-container .form .header {
  text-align: center;
}
.form-wrapper .form-container .form .header .title {
  font-size: 2rem;
  font-family: var(--ff-accent);
  font-weight: bold;
  line-height: 2.5rem;
  text-align: center;
  color: var(--clr-light);
}
.form-wrapper .form-container .form-field-label {
  display: block;
  text-align: center;
  margin-bottom: 0.2rem;
  color: var(--clr-light);
}
.form-wrapper .form-container .form-field-input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.3rem;
  text-align: center;
}
.form-wrapper .form-container .form-field-error {
  font-size: 0.8rem;
  color: rgb(241, 40, 40);
  margin-top: 0.4rem;
  display: none;
}
.form-wrapper .form-container .form .btn {
  padding-block: 0.8rem;
} /*# sourceMappingURL=style.css.map */
